
<mat-sidenav-container class="screen-height side-nav-container bg-dark-primary color-extra-light" autosize>
<!--  <mat-sidenav-->
<!--    style="width: 300px"-->
<!--    class="bg-extra-light-color"-->
<!--    opened-->
<!--    mode="side"-->
<!--    fixedTopGap="56"-->
<!--  >-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </mat-sidenav>-->
  <mat-sidenav-content class="p-4" style="background-color: var(--sys-surface-dim)">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
