<div class="note mat-elevation-z0 rounded-4 p-3" style="">
  <div class="note-header d-flex justify-content-between my-2">
    <span class="note-title fw-bold fs-5 w-75">{{snippet().title}}</span>

    <mat-icon style="cursor: pointer; color: var(--sys-tertiary)"
              (click)="markAsFavorite(snippet())">{{ snippet().isFavorite ? 'favorite' : 'favorite_outlined' }}
    </mat-icon>
  </div>

  <div class="note-tags d-flex flex-wrap gap-1">
    <mat-chip-set class="my-1">
      @for (tag of snippet().tags; track tag) {
        <mat-chip style="background-color: var(--sys-tertiary-container);">{{ tag }}</mat-chip>
      }
    </mat-chip-set>
  </div>

  <div class="note-description poppins-light my-1" style="font-size: small">{{ snippet().description }}</div>

  <div class="code-block-container my-1 position-relative">
    @if (snippet().code && snippet().code.length > 0) {
      <mat-icon class="code-block-copy position-absolute mat-elevation-z0" (click)="clickToCopyCode(snippet())">content_copy</mat-icon>
    }
    <pre><code style="max-height: 16rem; overflow-y: scroll" [highlightAuto]="snippet().code || ''"></code></pre>
  </div>

  <div class="note-footer d-flex justify-content-between" style="font-size: small; color: var(--sys-secondary)">
    <div class="note-date d-flex gap-1 align-items-center">
      <mat-icon>bookmark</mat-icon>
      <span class="poppins-light" style="font-size: small">{{ snippet().createdAt | formatDate }}</span>
    </div>
    <mat-icon style="cursor: pointer; color: var(--sys-error)" (click)="onDelete()">delete</mat-icon>
  </div>
</div>
