@use "@angular/material" as mat;

@include mat.core();
@import "theme-colors";

$default-theme: mat.define-theme(
    (
      color: (
        theme-type: 'light',
        primary: mat.$spring-green-palette,
        tertiary: mat.$blue-palette,
        use-system-variables: true
      ),
      typography: (
        plain-family: '"Poppins", sans-serif',
        brand-family: '"Poppins", sans-serif'
      )
    )
);

$high-compact-theme: mat.define-theme(
    (
      density: (
        scale: -5,
      )
    )
);

$compact-theme: mat.define-theme(
    (
      density: (
        scale: -1,
      )
    )
);

:root {
  @include mat.all-component-colors($default-theme);
  @include mat.all-component-typographies($default-theme);
  @include mat.form-field-density($high-compact-theme);
  @include mat.button-density($compact-theme);
}
